.card-deck-mobile > .card, .card-deck-tablet > .card {
    margin-bottom: 25px;
}

.card-deck-tablet p {
    font-size: 12px;
}

.card-deck > .card {
    border-radius: 0;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.05);
}

.card-deck .card-img-top {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.code-section p {
    margin: 0;
}

div.download-card-footer {
    padding-top: 50px;
    background-color: unset;
    border-top: unset;
}

.card-deck-tablet .card-body, .card-deck-mobile .card-body {
    padding: 0px
}

.list-group-item {
    border: none !important;
    min-width:200px;
    min-height:100px;
    background-color: unset !important;
}

.list-group {
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.author-name h5 {
    font-size:20px
}

.author-name p {
    font-size:15px
}

.container code {
    color: unset;
}

